#masonry-container {
  background: #FFF;
  margin-bottom: 20px;
  clear: both;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.box {
  margin: 0;
  background: initial;
}

.col4 { width: 285px; }
.col3 { width: 380px; }

.thumbnail.event-thumbnail {
  margin-bottom: 0px;

  .event-thumbnail-link {
    display: block;

    img {
      width: 100%;
    }
  }

  .caption {
    a {
      font-size: 18px;
    }

    .event-date {
      font-size: 14px;
    }
  }
}
