@import 'bootswatch/united/variables';
$screen-xs-max: $screen-xs - 1;

.events-timeline {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 20px 0;

  .events-timeline-day {
    font-size: 18px;
    padding: 0.5% 1%;
    position: relative;
    display: none;

    &:nth-child(-n+7) {
      display: block;
    }

    @media (min-width: $screen-sm-min) {
      &:nth-child(-n+14) {
        display: block;
      }
    }

    @media (min-width: $screen-md-min) {
      & {
        display: block;
      }
    }

    &.selected {
      background: #772953;
      color: #FFF;
    }

    &.weekend {
      font-weight: bold;
    }

    &::before, &::after {
      font-size: 14px;
      font-weight: normal;
      opacity: 0.75;
      position: absolute;
    }

    &:hover::before, &:hover::after {
      color: $link-color;
    }

    &[data-weekend]::before {
      content: attr(data-weekend);
      top: -12px;
      padding-left: 8%;     
    }

    &[data-month]::after {
      background: #FFF;
      content: attr(data-month);
      left: 25%;
      top: 30px;
      z-index: 1;
    }
  }
}
