@import 'bootswatch/united/variables';

.events-timeline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .events-timeline-day {
    font-size: 18px;
    padding: 0.5% 1%;
    position: relative;

    &.selected {
      background: #772953;
      color: #FFF;
    }

    &.weekend {
      font-weight: bold;
    }

    &::before {
      font-size: 14px;
      font-weight: normal;
      opacity: 0.75;
      position: absolute;
    }

    &:hover::before {
      color: $link-color;
    }

    &[data-month]::before {
      background: #FFF;
      content: attr(data-month);
      top: 30px;
      z-index: 1;
    }

    &[data-weekend]::before {
      content: attr(data-weekend);
      top: -12px;
      padding-left: 8%;     
    }
  }
}
