#masonry-container {
  background: #FFF;
  margin-bottom: 20px;
  clear: both;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.box {
  margin: 0;
  background: initial;
}

.col3 { width: 280px; }
.col4 { width: 380px; }
