@import 'bootswatch/united/variables';
$screen-xs-max: $screen-xs - 1;
$screen-sm-max: $screen-sm - 1;

.navbar {
  .user-panel {
    .user-avatar-button {
      border: none;
      border-radius: 40px;
      height: 50px;
      outline: none;
      overflow: hidden;
      padding: 0;
      width: 50px;

      @media (max-width: $screen-xs-max) {
        height: 40px;
        width: 40px;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }

    &.open {
      .dropdown-menu {
        li {
          a {
            font-size: 18px;
            margin-left: 0;

            @media (max-width: $screen-sm-max) {
              color: $gray-dark;
            }
          }
        }
      }
    }
  }
}
