/*
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 *= require flat-ui.min
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'variables';
@import 'utilities';

html body {
  line-height: 1.5;
}

.navbar {
  .navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
  }
  
  .navbar-collapse{

    .nav.navbar-nav {
      li {
        a {
          &::first-letter {
            text-transform: uppercase;
          }
        }
      }
    }

    .nav.navbar-right {
      @media only screen and (max-width : 768px) {
        padding: 0 15px;
      }

      a {
        font-size: 30px;
        margin-left: 20px;
      }
    }
  }
}

