/*
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/transitions'
 *= require 'sidebar'
 *= require_directory .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import "bootswatch/united/variables";
@import "bootstrap";
@import "bootswatch/united/bootswatch";
@import 'variables';
@import 'utilities';


html, body {
  background: #FFF;
  line-height: 1.5;
}

.ui.sidebar.overlay {
  background: #FFF;
  padding-top: 15px;

  ul {
    list-style: none;
    padding-left: 20px;
  }

  a {
    display: block;
  }

  .parent-link {
    font-size: 30px;
  }

  .clildren-list {

    .child-link {
      font-size: 20px;
    }
  }
}

.navbar {
  .header-left {
    float: left;
    margin-left: 20px;

    .sidebar-toggle {
      background: initial;
      border: none;
      color: #FFF;
      display: inline-block;
    }

    .navbar-brand {
      display: inline-block;
      float: none;
      font-size: 24px;
      text-transform: uppercase;
    }

    .city-select {
      background: initial;
      border: none;
      color: #FFF;
      display: inline-block;
    }
  }

  .header-right {
    float: right;
    margin-right: 20px;
    
    .search-form {
      display: inline-block;
      margin: 10px 20px 0 0;

      input[type="search"] {
        background: initial;
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.6);
        color: #FFF;
        outline: none;

        &:focus {
          border-bottom: 2px solid rgba(255, 255, 255, 1);
        }
      }

      button {
        background: initial;
        border: none;
        color: rgba(255, 255, 255, 0.6);

        &:hover, &:focus {
          color: rgba(255, 255, 255, 1);
        }
      }
    }

    .log-in-with {
      display: inline-block;
      margin-top: 10px;

      button {
        background: initial;
        border: none;
        color: #FFF;
        outline: none;
      }

      .dropdown-menu {
        background: initial;
        box-shadow: none;
        border: none;
        min-width: 0;
        right: 28px;
        width: 30px;

        a {
          border-radius: 30px;
          color: #FFF;
          display: block;
          height: 30px;
          margin-bottom: 10px;
          padding: 5px;
          text-align: center;
          width: 30px;

          &.vk {
            background: $vk_bg;
          }
          &.facebook {
            background: $facebook_bg;
          }
        }
      }
    }
  }
}
