/*
 *= require masonry/basic
 *= require masonry/centered
 *= require masonry/fluid
 *= require masonry/gutters
 *= require masonry/transitions
 *= require sidebar
 *= require chosen
 *= require_directory .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'variables';
@import 'bootswatch/united/variables';
@import 'bootstrap';
@import 'bootswatch/united/bootswatch';

* {
  transition: all 0.2s ease;
}

html, body {
  background: #FFF;
  line-height: 1.5;
}

body a {
  &:hover {
    text-decoration: none;
  }
}

.pushable > .pusher {
  overflow: visible;
}

.ui.sidebar.overlay {
  background: #FFF;
  padding-top: 25px;

  ul {
    list-style: none;
    padding-left: 30px;
  }

  a {
    display: block;
    font-size: 22px;
    padding: 3px 0;
  }

  .parent-link {
    font-size: 30px;
  }

  .clildren-list {

    .child-link {
      font-size: 20px;
    }
  }
}

#on-top-button {
  bottom: 50px;
  cursor: pointer;
  display: none;
  font-size: 50px;
  line-height: 1;
  position: fixed;
  right: 50px;
  z-index: 2;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

