@import 'event-thumbnail';

.events-grid {
  div[class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.event-header {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width : 768px) {
    flex-direction: column;
  }

  h1 {
    font-size: 44px; 
    margin: 0;
  }

  .event-picture-wrapper {
    max-width: 30%;

    @media only screen and (max-width : 768px) {
      max-width: 100%;
    }

    img {
      max-width: 100%;
    }
  }
}
